samples/AppInsights/Alerts/PermissionError.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "Logic App Name": {
        "defaultValue": "PermissionErrorNotification",
        "type": "String",
        "metadata": {
          "description": "Enter the name for the Logic App Resource"
        }
      },
      "AppInsights API Connection Name": {
        "defaultValue": "applicationinsights",
        "type": "String",
        "metadata": {
          "description": "Enter the name for the AppInsights API Connection. If you already have an API Connection resource for AppInsights in your subscription you can enter the name of the existing resource to reuse it for this Logic App."
        }
      },
      "Teams Connection Name": {
        "defaultValue": "teams",
        "type": "String",
        "metadata": {
          "description": "Enter the name for the Teams API Connection. If you already have an API Connection resource for Outlook in your subscription you can enter the name of the existing resource to reuse it for this Logic App."
        }
      },
      "Teams Group ID": {
        "type": "String",
        "metadata": {
            "description": "Enter the Teams Group ID to be used for sending adaptive cards."
        }
    },
    "Teams Channel ID": {
        "type": "String",
        "metadata": {
            "description": "Enter the Teams Channel ID to be used for sending adaptive cards."
        }
    },
  "Alert Frequency in Minutes": {
        "defaultValue": 15,
        "type": "int",
        "minValue": 1,
        "metadata": {
          "description": "Set the frequency in minutes for which you want to check for deleted environments."
        }
      }
    },
    "variables": {},
    "resources": [
      {
        "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "name": "[parameters('AppInsights API Connection Name')]",
        "location": "[resourcegroup().location]",
        "kind": "V1",
        "properties": {
          "displayName": "AppInsights",
          "statuses": [
            {
              "status": "Connected"
            }
          ],
          "customParameterValues": {},
          "api": {
            "name": "[parameters('AppInsights API Connection Name')]",
            "displayName": "Azure Application Insights",
            "description": "Azure Application Insights is an extensible analytics service that helps you understand the performance and usage of your live web application. Connect to your Application Insights resource to run and visualize various Analytics queries.",
            "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1570/1.0.1570.2764/', parameters('AppInsights API Connection Name'), '/icon.png')]",
            "brandColor": "#68217A",
            "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourcegroup().location, '/managedApis/', parameters('AppInsights API Connection Name'))]",
            "type": "Microsoft.Web/locations/managedApis"
          },
          "testLinks": []
        }
      },
      {
        "type": "Microsoft.Web/connections",
        "apiVersion": "2016-06-01",
        "name": "[parameters('Teams Connection Name')]",
        "location": "[resourcegroup().location]",
        "kind": "V1",
        "properties": {
          "displayName": "[parameters('Teams Connection Name')]",
          "statuses": [
            {
              "status": "Connected"
            }
          ],
          "customParameterValues": {},
          "nonSecretParameterValues": {},
          "api": {
            "name": "[parameters('Teams Connection Name')]",
            "displayName": "Microsoft Teams",
            "description": "Microsoft Teams enables you to get all your content, tools and conversations in the Team workspace with Office 365.",
            "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1588/1.0.1588.2938/', parameters('Teams Connection Name'), '/icon.png')]",
            "brandColor": "#4B53BC",
            "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourcegroup().location, '/managedApis/', parameters('Teams Connection Name'))]",
            "type": "Microsoft.Web/locations/managedApis"
          },
          "testLinks": [
            {
              "requestUri": "[concat('https://management.azure.com:443/', resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('Teams Connection Name'), '/extensions/proxy/beta/me/teamwork?api-version=2016-06-01')]",
              "method": "get"
            }
          ]
        }
      },
      {
        "type": "Microsoft.Logic/workflows",
        "apiVersion": "2017-07-01",
        "name": "[parameters('Logic App Name')]",
        "location": "[resourcegroup().location]",
        "dependsOn": [
          "[resourceId('Microsoft.Web/connections', parameters('AppInsights API Connection Name'))]",
          "[resourceId('Microsoft.Web/connections', parameters('Teams Connection Name'))]"
        ],
        "properties": {
          "state": "Enabled",
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "$connections": {
                "defaultValue": {},
                "type": "Object"
              }
            },
            "triggers": {
              "Recurrence": {
                "recurrence": {
                  "frequency": "Minute",
                  "interval": "[parameters('Alert Frequency in Minutes')]"
                },
                "evaluatedRecurrence": {
                  "frequency": "Minute",
                  "interval": "[parameters('Alert Frequency in Minutes')]"
                },
                "type": "Recurrence"
              }
            },
            "actions": {
                "For_each": {
                    "foreach": "@body('Run_Analytics_query')?['value']",
                    "actions": {
                        "Post_card_in_a_chat_or_channel": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.4\",\n    \"hideOriginalBody\": true,\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{items('For_each')?['message']}\",\n            \"size\": \"Large\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Review and correct permissions in the environment if required.\"\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n                {\n                    \"title\": \"Environment Name\",\n                    \"value\": \"@{items('For_each')?['environmentName']}\"\n                },\n                {\n                    \"title\": \"Company Name\",\n                    \"value\": \"@{items('For_each')?['companyName']}\"\n                },\n                {\n                    \"title\": \"Permission Area\",\n                    \"value\": \"@{items('For_each')?['permissionArea']}\"\n                },\n                {\n                    \"title\": \"Permission Type\",\n                    \"value\": \"@{items('For_each')?['permissionType']}\"\n                },\n                {\n                    \"title\": \"Error Message\",\n                    \"value\": \"@{items('For_each')?['errorMessage']}\"\n                },\n                {\n                    \"title\": \"User ID\",\n                    \"value\": \"@{items('For_each')?['user_Id']}\"\n                },\n                {\n                    \"title\": \"User\",\n                    \"value\": \"@{items('For_each')?['user_Id']}\"\n                }\n            ]\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"Manage user permissions\",\n            \"url\": \"https://businesscentral.dynamics.com/@{items('For_each')?['AADTenantId']}/@{items('For_each')?['environmentName']}?page=9800\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n}",
                                    "recipient": {
                                        "channelId": "[parameters('Teams Channel ID')]",
                                        "groupId": "[parameters('Teams Group ID')]"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                            }
                        }
                    },
            "runAfter": {
                        "Run_Analytics_query": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                },
              "Run_Analytics_query": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                  "body": "[concat('traces\n| where timestamp > ago(', parameters('Alert Frequency in Minutes'), 'm)\n| extend eventId = tostring(customDimensions.eventId)\n| where eventId == \"RT0031\"\n| extend errorMessage = tostring(customDimensions.errorMessage)\n| extend permissionArea = customDimensions.permissionArea\n| extend permissionType = customDimensions.permissionType\n| extend companyName = customDimensions.companyName\n| extend environmentName = customDimensions.environmentName\n| project message, errorMessage, user_Id, permissionArea, permissionType, companyName, environmentName')]",
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['applicationinsights']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/api/QueryDraft",
                  "queries": {
                    "version": "2"
                  }
                }
              }
            },
            "outputs": {}
          },
          "parameters": {
            "$connections": {
              "value": {
                "applicationinsights": {
                  "connectionId": "[resourceId('Microsoft.Web/connections', parameters('AppInsights API Connection Name'))]",
                  "connectionName": "[parameters('AppInsights API Connection Name')]",
                  "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourcegroup().location, '/managedApis/', parameters('AppInsights API Connection Name'))]"
                },
                "teams": {
                  "connectionId": "[resourceId('Microsoft.Web/connections', parameters('Teams Connection Name'))]",
                  "connectionName": "[parameters('Teams Connection Name')]",
                  "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourcegroup().location, '/managedApis/', parameters('Teams Connection Name'))]"
                }
              }
            }
          }
        }
      }
    ]
  }
