samples/AppInsights/Alerts/AlertingLogicAppTemplates/ActionFailedEnvironmentUpdate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "Logic App Name": {
      "defaultValue": "ActionFailedEnvironmentUpgrades",
      "type": "String",
      "metadata": {
        "description": "Enter the name for the Logic App Resource"
      }
    },
    "AppInsights API Connection Name": {
      "defaultValue": "applicationinsights",
      "type": "String",
      "metadata": {
        "description": "Enter the name for the AppInsights API Connection. If you already have an API Connection resource for AppInsights in your subscription you can enter the name of the existing resource to reuse it for this Logic App."
      }
    },
    "Frequency in Hours": {
      "defaultValue": 6,
      "type": "int",
      "minValue": 1,
      "maxValue": 72,
      "metadata": {
        "description": "Set the frequency in hours between 1 and 72 in which you want to check for and action failed environment upgrades."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('AppInsights API Connection Name')]",
      "location": "[resourcegroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "AppInsights",
        "statuses": [
          {
            "status": "Connected"
          }
        ],
        "customParameterValues": {},
        "api": {
          "name": "[parameters('AppInsights API Connection Name')]",
          "displayName": "Azure Application Insights",
          "description": "Azure Application Insights is an extensible analytics service that helps you understand the performance and usage of your live web application. Connect to your Application Insights resource to run and visualize various Analytics queries.",
          "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1570/1.0.1570.2764/', parameters('AppInsights API Connection Name'), '/icon.png')]",
          "brandColor": "#68217A",
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourcegroup().location, '/managedApis/', parameters('AppInsights API Connection Name'))]",
          "type": "Microsoft.Web/locations/managedApis"
        },
        "testLinks": []
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('Logic App Name')]",
      "location": "[resourcegroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('AppInsights API Connection Name'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Hour",
                "interval": "[parameters('Frequency in Hours')]"
              },
              "evaluatedRecurrence": {
                "frequency": "Hour",
                "interval": "[parameters('Frequency in Hours')]"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "For_each": {
              "foreach": "@body('Run_Analytics_query')?['value']",
              "actions": {
                "Compose": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": "Replace this action with actions required to handle each failed environment upgrade. Properties available related to upgrade failure are:\n@{items('For_each')?['AADTenantId']}\n@{items('For_each')?['EnvironmentName']}\n@{items('For_each')?['EnvironmentType']}\n@{items('For_each')?['EnvironmentCountry']}\n@{items('For_each')?['CurrentVersion']}\n@{items('For_each')?['TargetVersion']}\n@{items('For_each')?['AdminCenter']}\n@{items('For_each')?['FailureCode']}\n@{items('For_each')?['FailureReason']}"
                }
              },
              "runAfter": {
                "Run_Analytics_query": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Run_Analytics_query": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "body": "[concat('traces\n| where timestamp > ago(', parameters('Frequency in Hours'), 'h)\n| where customDimensions.eventId == ''LC0107''\n| extend ScheduledFor = format_datetime(todatetime(customDimensions.registeredForUpdateOnOrAfterDateUtc), ''yyyy-MM-dd'')\n| extend UpdatePeriodEndDate = format_datetime(todatetime(customDimensions.updatePeriodEndDateUtc), ''yyyy-MM-dd'')\n| extend AdminCenter = strcat(''https://businesscentral.dynamics.com/'', customDimensions.aadTenantId, ''/admin'')\n| project AADTenantId = customDimensions.aadTenantId, EnvironmentName = customDimensions.environmentName, EnvironmentType = customDimensions.environmentType, EnvironmentCountry = customDimensions.countryCode, CurrentVersion = customDimensions.sourceVersion, TargetVersion = customDimensions.destinationVersion, EventId = customDimensions.eventId, AdminCenter, FailureCode = customDimensions.failureCode, FailureReason = customDimensions.failureReason')]",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['applicationinsights']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/api/QueryDraft",
                "queries": {
                  "version": "2"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "applicationinsights": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('AppInsights API Connection Name'))]",
                "connectionName": "[parameters('AppInsights API Connection Name')]",
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourcegroup().location, '/managedApis/', parameters('AppInsights API Connection Name'))]"
              }
            }
          }
        }
      }
    }
  ]
}
